.DS_Store
.env
node_modules/
*.tsbuildinfo

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.dev.vars*
worker-configuration.d.ts

.local
/dist

# Packages
packages/*/dist/
apps/*/dist/
apps/web/build/
apps/web/.react-router/
